@import 'tailwindcss';

@theme inline {
  /* Font declaration */
  --font-inter: var(--font-inter);
  --font-instrument-sans: var(--font-instrument-sans);

  /* Breakpoints */
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

html {
  @apply scroll-smooth;
}

body {
  @apply font-inter bg-[#0D0E16] text-white;
}

section {
  @apply py-[90px];
}

.container {
  @apply mx-auto max-w-[1440px] px-2.5 md:px-6 xl:px-12 2xl:px-24;
}

h2 {
  @apply text-[60px] leading-[72px] font-semibold;
}

h3 {
  @apply text-[42px]/[60px] font-semibold;
}

button {
  @apply cursor-pointer;
}

button.contained {
  @apply rounded-full bg-white px-5 py-2.5 text-sm text-black;
}
